/* variables --------------------------------------------------------------------------------------------*/

/* fonts --------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
  url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
  url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* html --------------------------------------------------------------------------------------------*/

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.625em;
}

@media screen and (min-width: 1440.02px) {
  html {
    font-size: -webkit-calc(0.625em + 0.435vw);
    font-size: -moz-calc(0.625em + 0.435vw);
    font-size: calc(0.625em + 0.435vw);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* body --------------------------------------------------------------------------------------------*/

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.00;
  background-color: #fff;
}

/* container --------------------------------------------------------------------------------------------*/

.container {
  -webkit-transition: padding 0.210s linear, width 0.210s linear;
  -moz-transition: padding 0.210s linear, width 0.210s linear;
  transition: padding 0.210s linear, width 0.210s linear;
}

@media screen and (min-width: 1440.02px) {
  .container {
    padding: 0 150px;
    width: 100%;
    max-width: none;
  }
}

/* logo --------------------------------------------------------------------------------------------*/

.logo {
  display: inline-block;
  font-size: 0;
  -webkit-transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
  cursor: pointer;
}

@media (hover: none) {
  .logo {
    cursor: none;
  }
}

.logo:focus {
  outline: 1px solid #7d90ff;
}

@media (hover: none) {
  .logo:focus {
    outline: none;
  }
}

@supports selector(:focus-visible) {
  .logo:focus-visible {
    outline: 1px solid #7d90ff;
  }
}

.logo__image {
  max-width: 100%;
  width: 100%;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

/* link --------------------------------------------------------------------------------------------*/

.link {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.00;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  -webkit-transition: color 0.210s linear;
  -moz-transition: color 0.210s linear;
  transition: color 0.210s linear;
}

@media (hover: none) {
  .link {
    cursor: none;
  }
}

/* button --------------------------------------------------------------------------------------------*/

.button {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 2.05rem 5.95rem;
  border: none;
  -webkit-border-radius: 2.00rem;
     -moz-border-radius: 2.00rem;
          border-radius: 2.00rem;
  max-width: 100%;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 700;
  line-height: 1.17;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  background-color: #3f2aaf;
  cursor: pointer;
  -webkit-transition: margin 0.210s linear, padding 0.210s linear, color 0.210s linear, background-color 0.210s linear, border-color 0.210s linear, opacity 0.210s linear;
  -moz-transition: margin 0.210s linear, padding 0.210s linear, color 0.210s linear, background-color 0.210s linear, border-color 0.210s linear, opacity 0.210s linear;
  transition: margin 0.210s linear, padding 0.210s linear, color 0.210s linear, background-color 0.210s linear, border-color 0.210s linear, opacity 0.210s linear;
}

@media (hover: none) {
  .button {
    cursor: none;
  }
}

.button:focus {
  opacity: 0.70;
  background-color: #7d90ff;
}

.button:hover:not(:focus) {
  opacity: 0.70;
  background-color: #7d90ff;
}

@media (hover: none) {
  .button:focus {
    opacity: 1.00;
    background-color: #3f2aaf;
  }

  .button:hover:not(:focus) {
    opacity: 1.00;
    background-color: #3f2aaf;
  }
}

.button:active {
  background-color: #5976f5;
  opacity: 0.70;
  -webkit-transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
  -moz-transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
  transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
}

@supports selector(:focus-visible) {
  .button:focus {
    opacity: 1.00;
    background-color: #3f2aaf;
  }

  .button:active {
    background-color: #3f2aaf;
    opacity: 1.00;
  }

  .button:focus-visible {
    opacity: 0.70;
    background-color: #7d90ff;
  }

  @media (hover: hover) {
    .button:hover:not(:focus-visible) {
      opacity: 0.70;
      background-color: #7d90ff;
    }
  }

  .button:active:not(:focus-visible) {
    background-color: #5976f5;
    opacity: 0.70;
    -webkit-transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
    -moz-transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
    transition: color 0.100s ease-out, background-color 0.100s ease-out, border-color 0.100s ease-out, opacity 0.100s ease-out;
  }
}

/* navigation --------------------------------------------------------------------------------------------*/

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-transition: padding 0.210s linear, width 0.210s linear, height 0.210s linear;
  -moz-transition: padding 0.210s linear, width 0.210s linear, height 0.210s linear;
  transition: padding 0.210s linear, width 0.210s linear, height 0.210s linear;
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.nav__item {
  margin-right: 5.70rem;
  font-size: 0;
  -webkit-transition: margin 0.210s linear;
  -moz-transition: margin 0.210s linear;
  transition: margin 0.210s linear;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 1.80rem;
  font-weight: 400;
  line-height: 1.17;
  color: #fff;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.210s ease-in;
  transition: -webkit-transform 0.210s ease-in;
  -moz-transition: transform 0.210s ease-in, -moz-transform 0.210s ease-in;
  transition: transform 0.210s ease-in;
  transition: transform 0.210s ease-in, -webkit-transform 0.210s ease-in, -moz-transform 0.210s ease-in;
}

.nav__link:focus {
  outline: 2px solid #7d90ff;
  outline-offset: 1px;
}

.nav__link:hover:not(:focus) {
  outline: none;
}

.nav__link:hover:not(:focus)::after {
  background-color: #7d90ff;
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
          transform: scaleX(1);
}

@media (hover:none) {
  .nav__link:focus {
    outline: none;
  }

  .nav__link:hover:not(:focus)::after {
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.nav__link:active {
  outline: none;
  color: #5976f5;
  -webkit-transition: color 0.100s ease-out;
  -moz-transition: color 0.100s ease-out;
  transition: color 0.100s ease-out;
}

.nav__link:active::after {
  background-color: #5976f5;
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  -moz-transition: background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
}

@supports selector(:focus-visible) {
  .nav__link:focus {
    outline: none;
  }

  .nav__link:active {
    color: #666;
  }

  .nav__link:active::after {
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
            transform: scaleX(0);
  }

  .nav__link:focus-visible {
    outline: 2px solid #7d90ff;
    outline-offset: 1px;
  }

  @media (hover: hover) {
    .nav__link:hover:not(:focus-visible) {
      outline: none;
    }

    .nav__link:hover:not(:focus-visible)::after {
      background-color: #7d90ff;
      -webkit-transform: scaleX(1);
         -moz-transform: scaleX(1);
              transform: scaleX(1);
    }
  }

  .nav__link:active:not(:focus-visible) {
    outline: none;
    color: #5976f5;
    -webkit-transition: color 0.100s ease-out;
    -moz-transition: color 0.100s ease-out;
    transition: color 0.100s ease-out;
  }

  .nav__link:active:not(:focus-visible)::after {
    background-color: #5976f5;
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    -moz-transition: background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  }
}

/* icon --------------------------------------------------------------------------------------------*/

.icon {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  padding: 0;
  outline: none;
  border: none;
  font-size: 0;
  background: none;
  cursor: pointer;
}

@media (hover: none) {
  .icon {
    cursor: none;
  }
}

.icon::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.icon:focus {
  outline: 2px solid #7d90ff;
  outline-offset: 1px;
}

.icon:hover:not(:focus) {
  outline: none;
}

@media (hover: none) {
  .icon:focus {
    outline: none;
  }

  .icon:hover:not(:focus) {
    outline: none;
  }
}

.icon:active {
  outline: none;
}

@supports selector(:focus-visible) {
  .icon:focus {
    outline: none;
  }

  .icon:active {
    outline: none;
  }

  .icon:focus-visible {
    outline: 2px solid #7d90ff;
    outline-offset: 1px;
  }

  @media (hover: hover) {
    .icon:hover:not(:focus-visible) {
      outline: none;
    }
  }

  .icon:active:not(:focus-visible) {
    outline: none;
  }
}

.icon__image {
  width: 2.40rem;
  height: 2.40rem;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

.icon__path {
  fill: #fff;
  -webkit-transition: fill 0.210s linear;
  -moz-transition: fill 0.210s linear;
  transition: fill 0.210s linear;
}

.icon:hover:not(:focus) .icon__path {
  fill: #7d90ff;
}

.icon_activejs:hover:not(:focus) .icon__path {
  fill: #5976f5;
  -webkit-transition: fill 0.100s ease-out;
  -moz-transition: fill 0.100s ease-out;
  transition: fill 0.100s ease-out;
}

@media (hover: none) {
  .icon:hover:not(:focus) .icon__path {
    fill: #666;
  }
}

.icon:active .icon__path {
  fill: #5976f5;
  -webkit-transition: fill 0.100s ease-out;
  -moz-transition: fill 0.100s ease-out;
  transition: fill 0.100s ease-out;
}

@supports selector(:focus-visible) {
  .icon:active .icon__path {
    fill: #666;
  }

  @media (hover: hover) {
    .icon:hover:not(:focus-visible) .icon__path {
      fill: #7d90ff;
    }
  }

  .icon_activejs:hover:not(:focus-visible) .icon__path {
    fill: #5976f5;
    -webkit-transition: fill 0.100s ease-out;
    -moz-transition: fill 0.100s ease-out;
    transition: fill 0.100s ease-out;
  }

  .icon:active:not(:focus-visible) .icon__path {
    fill: #5976f5;
    -webkit-transition: fill 0.100s ease-out;
    -moz-transition: fill 0.100s ease-out;
    transition: fill 0.100s ease-out;
  }
}

.icon_activejs .icon__path {
  fill: #5976f5;
  -webkit-transition: fill 0.100s ease-out;
  -moz-transition: fill 0.100s ease-out;
  transition: fill 0.100s ease-out;
}

/* burger --------------------------------------------------------------------------------------------*/

.burger {
  position: initial;
  font-size: 0;
  text-align: end;
  vertical-align: middle;
}

@media screen and (min-width: 575.98px) {
  .burger {
    display: none;
  }
}

.burger__button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
}

.burger__button-line {
  display: inline-block;
  margin-bottom: 0.55rem;
  -webkit-border-radius: 2.00rem;
     -moz-border-radius: 2.00rem;
          border-radius: 2.00rem;
  width: 2.00rem;
  height: 0.20rem;
  background-color: #fff;
  -webkit-transition: margin 0.210s linear, width 0.210s linear, background-color 0.210s linear, -webkit-transform 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear, background-color 0.210s linear, -webkit-transform 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear, background-color 0.210s linear, transform 0.210s linear, -moz-transform 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear, background-color 0.210s linear, transform 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear, background-color 0.210s linear, transform 0.210s linear, -webkit-transform 0.210s linear, -moz-transform 0.210s linear;
}

.burger__button-line:last-child {
  margin-bottom: 0;
}

.burger__button:active .burger__button-line {
  background-color: #5976f5;
  -webkit-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  -moz-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
}

.burger__button:active .burger__button-line:nth-child(2) {
  width: 1.50rem;
}

.burger__button:active .burger__button-line:nth-child(3) {
  width: 0.80rem;
}

@supports selector(:focus-visible) {
  .burger__button:active .burger__button-line {
    background-color: #666;
  }

  .burger__button:active .burger__button-line:nth-child(2) {
    width: 2.00rem;
  }

  .burger__button:active .burger__button-line:nth-child(3) {
    width: 2.00rem;
  }

  .burger__button:active:not(:focus-visible) .burger__button-line {
    background-color: #5976f5;
    -webkit-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    -moz-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
    transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out;
    transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  }

  .burger__button:active:not(:focus-visible) .burger__button-line:nth-child(2) {
    width: 1.50rem;
  }

  .burger__button:active:not(:focus-visible) .burger__button-line:nth-child(3) {
    width: 0.80rem;
  }
}

.burger__button_activejs {
  position: relative;
  z-index: 2000;
}

.burger__button_activejs .burger__button-line {
  margin-bottom: 0;
  background-color: #666;
  -webkit-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  -moz-transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out;
  transition: margin 0.100s ease-out, width 0.100s ease-out, background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
}

.burger__button_activejs .burger__button-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__button_activejs .burger__button-line:nth-child(2) {
  width: 0;
  height: 0;
}

.burger__button_activejs .burger__button-line:nth-child(3) {
  width: 2.00rem;
  -webkit-transform: translateY(-0.20rem) rotate(-45deg);
     -moz-transform: translateY(-0.20rem) rotate(-45deg);
          transform: translateY(-0.20rem) rotate(-45deg);
}

.burger__button_activejs:active .burger__button-line {
  margin-bottom: 0;
  background-color: #666;
}

.burger__button_activejs:active .burger__button-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__button_activejs:active .burger__button-line:nth-child(2) {
  width: 0;
  height: 0;
}

.burger__button_activejs:active .burger__button-line:nth-child(3) {
  width: 2.00rem;
  -webkit-transform: translateY(-0.20rem) rotate(-45deg);
     -moz-transform: translateY(-0.20rem) rotate(-45deg);
          transform: translateY(-0.20rem) rotate(-45deg);
}

@supports selector(:focus-visible) {
  .burger__button_activejs:active .burger__button-line {
    margin-bottom: 0;
    background-color: #666;
  }

  .burger__button_activejs:active .burger__button-line:nth-child(1) {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
            transform: rotate(0);
  }

  .burger__button_activejs:active .burger__button-line:nth-child(2) {
    width: 2.00rem;
    height: 0.20rem;
  }

  .burger__button_activejs:active .burger__button-line:nth-child(3) {
    -webkit-transform: translateY(0) rotate(0);
       -moz-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }

  .burger__button_activejs:active:not(:focus-visible) .burger__button-line {
    margin-bottom: 0;
    background-color: #666;
  }

  .burger__button_activejs:active:not(:focus-visible) .burger__button-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);

  }

  .burger__button_activejs:active:not(:focus-visible) .burger__button-line:nth-child(2) {
    width: 0;
    height: 0;
  }

  .burger__button_activejs:active:not(:focus-visible) .burger__button-line:nth-child(3) {
    width: 2.00rem;
    -webkit-transform: translateY(-0.20rem) rotate(-45deg);
       -moz-transform: translateY(-0.20rem) rotate(-45deg);
            transform: translateY(-0.20rem) rotate(-45deg);

  }
}

.burger__nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;
  display: block;
  opacity: 1.00;
  padding: 8.00rem 0 3.00rem 3.00rem;
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  opacity: 1.00;
  visibility: visible;
  -webkit-transform: none;
     -moz-transform: none;
          transform: none;
  -webkit-transition: visibility 0.210s ease-out, padding 0.210s ease-out, width 0.210s ease-out, height 0.210s ease-out, opacity 0.100s ease-out, -webkit-transform 0.210s ease-out;
  transition: visibility 0.210s ease-out, padding 0.210s ease-out, width 0.210s ease-out, height 0.210s ease-out, opacity 0.100s ease-out, -webkit-transform 0.210s ease-out;
  -moz-transition: visibility 0.210s ease-out, padding 0.210s ease-out, width 0.210s ease-out, height 0.210s ease-out, opacity 0.100s ease-out, transform 0.210s ease-out, -moz-transform 0.210s ease-out;
  transition: visibility 0.210s ease-out, padding 0.210s ease-out, width 0.210s ease-out, height 0.210s ease-out, opacity 0.100s ease-out, transform 0.210s ease-out;
  transition: visibility 0.210s ease-out, padding 0.210s ease-out, width 0.210s ease-out, height 0.210s ease-out, opacity 0.100s ease-out, transform 0.210s ease-out, -webkit-transform 0.210s ease-out, -moz-transform 0.210s ease-out;
}

.burger__nav_hidden {
  visibility: hidden;
  padding-right: 0;
  padding-left: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: visibility 0.210s ease-in, padding 0.210s ease-in, width 0.210s ease-in, height 0.210s ease-in, opacity 0.210s ease-in, -webkit-transform 0.210s ease-in;
  transition: visibility 0.210s ease-in, padding 0.210s ease-in, width 0.210s ease-in, height 0.210s ease-in, opacity 0.210s ease-in, -webkit-transform 0.210s ease-in;
  -moz-transition: visibility 0.210s ease-in, padding 0.210s ease-in, width 0.210s ease-in, height 0.210s ease-in, opacity 0.210s ease-in, transform 0.210s ease-in, -moz-transform 0.210s ease-in;
  transition: visibility 0.210s ease-in, padding 0.210s ease-in, width 0.210s ease-in, height 0.210s ease-in, opacity 0.210s ease-in, transform 0.210s ease-in;
  transition: visibility 0.210s ease-in, padding 0.210s ease-in, width 0.210s ease-in, height 0.210s ease-in, opacity 0.210s ease-in, transform 0.210s ease-in, -webkit-transform 0.210s ease-in, -moz-transform 0.210s ease-in;
}

.burger__nav-menu {
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  list-style: none;
}

.burger__nav-item {
  margin-bottom: 6.00rem;
  font-size: 0;
  text-align: start;
  -webkit-transition: margin 0.210s linear;
  -moz-transition: margin 0.210s linear;
  transition: margin 0.210s linear;
}

.burger__nav-item:last-child {
  margin-bottom: 0;
}

.burger__nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.80rem;
  font-weight: 400;
  line-height: 1.17;
  color: #666;
}

.burger__nav-link::before {
  content: '';
  position: absolute;
  top: -3.00rem;
  left: 0;
  width: 100%;
  height: -webkit-calc( 100% + 6.00rem );
  height: -moz-calc( 100% + 6.00rem );
  height: calc( 100% + 6.00rem );
}

.burger__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.210s ease-in;
  transition: -webkit-transform 0.210s ease-in;
  -moz-transition: transform 0.210s ease-in, -moz-transform 0.210s ease-in;
  transition: transform 0.210s ease-in;
  transition: transform 0.210s ease-in, -webkit-transform 0.210s ease-in, -moz-transform 0.210s ease-in;
}

.burger__nav-link:focus {
  outline: 2px solid #7d90ff;
  outline-offset: 1px;
}

.burger__nav-link:hover:not(:focus) {
  outline: none;
}

.burger__nav-link:hover:not(:focus)::after {
  background-color: #7d90ff;
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
          transform: scaleX(1);
}

@media (hover:none) {
  .burger__nav-link:focus {
    outline: none;
  }

  .burger__nav-link:hover:not(:focus)::after {
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.burger__nav-link:active {
  outline: none;
  color: #5976f5;
  -webkit-transition: color 0.100s ease-out;
  -moz-transition: color 0.100s ease-out;
  transition: color 0.100s ease-out;
}

.burger__nav-link:active::after {
  background-color: #5976f5;
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
  -moz-transition: background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, transform 0.100s ease-out;
  transition: background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
}

@supports selector(:focus-visible) {
  .burger__nav-link:focus {
    outline: none;
  }

  .burger__nav-link:active {
    color: #666;
  }

  .burger__nav-link:active::after {
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
            transform: scaleX(0);
  }

  .burger__nav-link:focus-visible {
    outline: 2px solid #7d90ff;
    outline-offset: 1px;
  }

  @media (hover: hover) {
    .burger__nav-link:hover:not(:focus-visible) {
      outline: none;
    }

    .burger__nav-link:hover:not(:focus-visible)::after {
      background-color: #7d90ff;
      -webkit-transform: scaleX(1);
         -moz-transform: scaleX(1);
              transform: scaleX(1);
    }
  }

  .burger__nav-link:active:not(:focus-visible) {
    outline: none;
    color: #5976f5;
    -webkit-transition: color 0.100s ease-out;
    -moz-transition: color 0.100s ease-out;
    transition: color 0.100s ease-out;
  }

  .burger__nav-link:active:not(:focus-visible)::after {
    background-color: #5976f5;
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, -webkit-transform 0.100s ease-out;
    -moz-transition: background-color 0.100s ease-out, transform 0.100s ease-out, -moz-transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, transform 0.100s ease-out;
    transition: background-color 0.100s ease-out, transform 0.100s ease-out, -webkit-transform 0.100s ease-out, -moz-transform 0.100s ease-out;
  }
}

/* socials --------------------------------------------------------------------------------------------*/

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: 0;
}

.socials__item {
  margin-right: 3.00rem;
  font-size: 0;
}

.socials__item:last-child {
  margin-right: 0;
}


/* rights --------------------------------------------------------------------------------------------*/

.rights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.30rem;
  font-weight: 400;
  line-height: 1.17;
  font-style: normal;
  color: #2e2b44;
}

.rights__сopyright {
  color: #3f2aaf;
}

/* header --------------------------------------------------------------------------------------------*/

.header {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #3f2aaf;
}

.header__container {
  padding-top: 2.90rem;
  padding-bottom: 2.90rem;
}

@media screen and (max-width: 767.98px) {
  .header__container {
    padding-top: 3.00rem;
    padding-bottom: 3.00rem;
  }
}

@media screen and (max-width: 575.98px) {
  .header__container {
    padding-top: 3.20rem;
    padding-bottom: 3.20rem;
  }
}

.header__row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding-bottom: 1.50rem;
  }
}

@media screen and (max-width: 575.98px) {
  .header__left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    padding-bottom: 0;
  }
}

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding-top: 1.50rem;
  }
}

@media screen and (max-width: 575.98px) {
  .header__right {
    display: none;
  }
}

.header__logo {
  width: 9.40rem;
  height: 2.10rem;
}

@media screen and (max-width: 575.98px) {
  .header__logo {
    width: 7.20rem;
    height: 1.60rem;
  }
}

@media screen and (max-width: 575.98px) {
  .header__nav {
    display: none;
  }
}

/* card-layout ---------------------------------------------------------------------------------------------*/

.card-layout {
  padding: 0;
  font-size: 0;
  list-style: 0;
}

.card-layout__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
          align-items: stretch;
  font-size: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* main ---------------------------------------------------------------------------------------------*/

.main {
  padding-bottom: 6.50rem;
  -webkit-transition: padding 0.210s linear;
  -moz-transition: padding 0.210s linear;
  transition: padding 0.210s linear;
}

@media screen and (max-width: 575.98px) {
  .main {
    padding-bottom: 3.50rem;
  }
}

.main__section {
  padding-top: 7.40rem;
  padding-bottom: 6.50rem;
  -webkit-transition: padding 0.210s linear;
  -moz-transition: padding 0.210s linear;
  transition: padding 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .main__section {
    padding-bottom: 6.30rem;
  }
}

@media screen and (max-width: 575.98px) {
  .main__section {
    padding-top: 5.00rem;
    padding-bottom: 3.50rem;
  }
}

.main__section:first-child {
  padding-top: 0;
}

.main__section:last-child {
  padding-bottom: 0;
}

.main__section-title {
  margin: 0;
  margin-bottom: 0.78rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 4.00rem;
  font-weight: 700;
  line-height: 1.00;
  font-style: normal;
  color: #2e2b44;
  -webkit-transition: margin 0.210s linear, width 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear;
}

@media screen and (max-width: 575.98px) {
  .main__section-title {
    font-size: 2.00rem;
  }
}

/* hero -------------------------------------------------------------------------------------------*/

.hero {
  margin: 0;
  padding: 0;
  background: -webkit-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
  background: -moz-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__main-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  padding-top: 13.00rem;
  padding-bottom: 13.00rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.80rem;
  font-weight: undefined;
  line-height: 1.30;
  font-style: normal;
  color: #fff;
  -webkit-transition: padding 0.210s linear, width 0.210s linear;
  -moz-transition: padding 0.210s linear, width 0.210s linear;
  transition: padding 0.210s linear, width 0.210s linear;
}

@media (max-width: 991.98px) {
  .hero__main-text-wrapper {
    padding-top: 13.00rem;
    padding-bottom: 13.50rem;
  }
}

@media (max-width: 767.98px) {
  .hero__main-text-wrapper {
    padding-top: 7.70rem;
    padding-bottom: 13.50rem;
  }
}

@media (max-width: 575.98px) {
  .hero__main-text-wrapper {
    padding-top: 5.00rem;
    padding-bottom: 5.00rem;
  }
}

.hero__title {
  margin-bottom: 2.90rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 6.00rem;
  font-weight: 700;
  line-height: 1.00;
  font-style: normal;
  color: #fff;
  -webkit-transition: margin 0.210s linear, width 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .hero__title {
    margin-bottom: 1.60rem;
    font-size: 5.00rem;
  }
}

@media screen and (max-width: 575.98px) {
  .hero__title {
    margin-bottom: 0.20rem;
    font-size: 3.00rem;
  }
}

.hero__section-text {
  margin: 0;
  margin-bottom: 6.10rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.80rem;
  font-weight: 400;
  line-height: 1.50;
  font-style: normal;
  color: #fff;
  -webkit-transition: margin 0.210s linear, width 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .hero__section-text {
    margin-bottom: 6.20rem;
  }
}

@media screen and (max-width: 575.98px) {
  .hero__section-text {
    margin-bottom: 4.80rem;
    font-size: 1.60rem;
    line-height: 1.30;
  }
}

.hero__button {
  padding: 2.40rem 7.55rem;
  font-size: 1.80rem;
}

@media screen and (max-width: 575.98px) {
  .hero__button {
    padding: 2.05rem 5.35rem;
    font-size: 1.60rem;
  }
}

.hero__bc {
  padding-top: 1.50rem;
}

@media screen and (max-width: 991.98px) {
  .hero__bc {
    padding-top: 12.00rem;
    padding-bottom: 13.50rem;
  }
}

@media screen and (max-width: 767.98px) {
  .hero__bc {
    display: none;
  }
}

.hero__bc-picture {
  display: block;
  width: 100%;
  -webkit-transition: width 0.210s linear, max-height 0.210s linear;
  -moz-transition: width 0.210s linear, max-height 0.210s linear;
  transition: width 0.210s linear, max-height 0.210s linear;
}

.hero__bc-picture img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

/* advantages ---------------------------------------------------------*/

.advantages {
  margin: 0;
  padding-top: 8.00rem;
}

@media screen and (max-width: 767.98px) {
  .advantages {
    padding-bottom: 4.35rem;
  }
}

@media screen and (max-width: 575.98px) {
  .advantages{
    padding-top: 5.00rem;
    padding-bottom: 3.10rem;
  }
}

.advantages__title {
  margin-bottom: 1.70rem;
}

@media screen and (max-width: 575.98px) {
  .advantages__title {
    margin-bottom: 0;
    line-height: 1.30;
  }
}

.advantages__bc-image {
  display: block;
  padding-top: 3.80rem;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .advantages__bc-image {
    padding-top: 2.70rem;
  }
}

@media screen and (max-width: 767.98px) {
  .advantages__bc-image {
    padding-top: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .advantages__bc-image {
    display: none;
  }
}

.advantages__bc-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

.advantages__main-text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 1.00rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #666;
}

.advantages__section-text {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  font-style: normal;
  color: #666;
  -webkit-transition: width 0.210s linear;
  -moz-transition: width 0.210s linear;
  transition: width 0.210s linear;
}

.advantages__card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 1.15rem 0 1.15rem 10.75rem;
  min-height: 8.00rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #666;
  -webkit-transition: padding 0.210s linear;
  -moz-transition: padding 0.210s linear;
  transition: padding 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .advantages__card {
    padding-top: 9.00rem;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .advantages__card {
    padding-top: 0;
    padding-bottom: 4px;
    padding-left: 11.00rem;
  }
}

.advantages__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8.00rem;
  height: 8.00rem;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

.card-layout__column:nth-child(1) .advantages__card::before {
  background-image: url('../images/advantages/advantages-2.svg');
}

.card-layout__column:nth-child(2) .advantages__card::before {
  background-image: url('../images/advantages/advantages-3.svg');
}

.card-layout__column:nth-child(3) .advantages__card::before {
  background-image: url('../images/advantages/advantages-4.svg');
}

.advantages__card-text {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 700;
  line-height: 1.17;
  font-style: normal;
  color: #666;
  -webkit-transition: width 0.210s linear;
  -moz-transition: width 0.210s linear;
  transition: width 0.210s linear;
}

@media screen and (max-width: 575.98px) {
  .advantages__card-text {
    line-height: 1.20;
  }
}

/* teachers ---------------------------------------------------------*/

.teachers {
  margin: 0;
  background-color: #212133;
}

.teachers__title {
  color: #fff;
}

@media screen and (max-width: 575.98px) {
  .teachers__title {
    margin-bottom: 0.90rem;
  }
}

.teachers__card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2.00rem;
     -moz-border-radius: 2.00rem;
          border-radius: 2.00rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #666;
}

.teachers__card-picture {
  display: block;
  width: 100%;
  margin-bottom: 3.00rem;
  -webkit-transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear, height 0.210s linear;
}

.teachers__card-picture img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

.teachers__card-title {
  margin: 0;
  margin-bottom: 0.80rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.80rem;
  font-weight: 700;
  line-height: 1.50;
  font-style: normal;
  color: #fff;
  -webkit-transition: margin 0.210s linear, width 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .teachers__card-title {
    margin-bottom: 0.70rem;
  }
}

.teachers__card-text {
  margin: 0;
  margin-bottom: -0.50rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  font-style: normal;
  color: #85859b;
  -webkit-transition: width 0.210s linear;
  -moz-transition: width 0.210s linear;
  transition: width 0.210s linear;
}

/* courses ---------------------------------------------------------*/

.courses {
  margin: 0;
}

.courses__card-time {
  position: absolute;
  top: 1.00rem;
  right: 0.40rem;
  padding-left: 2.90rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #fff;
  background-image: url('../images/courses/xl/clock.svg');
  background-position: top 0 left 0;
  -webkit-background-size: 2.40rem 2.40rem;
     -moz-background-size: 2.40rem 2.40rem;
          background-size: 2.40rem 2.40rem;
  background-repeat: no-repeat;
  -webkit-transition: top 0.210s linear, right 0.210s linear, padding 0.210s linear, -webkit-background-size 0.210s linear;
  transition: top 0.210s linear, right 0.210s linear, padding 0.210s linear, -webkit-background-size 0.210s linear;
  -moz-transition: top 0.210s linear, right 0.210s linear, padding 0.210s linear, background-size 0.210s linear, -moz-background-size 0.210s linear;
  transition: top 0.210s linear, right 0.210s linear, padding 0.210s linear, background-size 0.210s linear;
  transition: top 0.210s linear, right 0.210s linear, padding 0.210s linear, background-size 0.210s linear, -webkit-background-size 0.210s linear, -moz-background-size 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .courses__card-time {
    right: 1.00rem;
  }
}

.courses__card {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2.00rem;
     -moz-border-radius: 2.00rem;
          border-radius: 2.00rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #666;
}

@media screen and (max-width: 575.98px) {
  .courses__card {
    min-height: 65.30rem;
  }
}

.courses__card-picture {
  display: block;
  width: 100%;
  -webkit-transition: width 0.210s linear, max-height 0.210s linear;
  -moz-transition: width 0.210s linear, max-height 0.210s linear;
  transition: width 0.210s linear, max-height 0.210s linear;
}

.courses__card-picture img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: width 0.210s linear, height 0.210s linear;
  -moz-transition: width 0.210s linear, height 0.210s linear;
  transition: width 0.210s linear, height 0.210s linear;
}

.courses__card-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 3.00rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
          flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  color: #666;
  background-color: #edf0f9;
  -webkit-transition: padding 0.210s linear;
  -moz-transition: padding 0.210s linear;
  transition: padding 0.210s linear;
}

.courses__card-title {
  margin: 0;
  margin-bottom: 0.60rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.80rem;
  font-weight: 700;
  line-height: 1.50;
  font-style: normal;
  color: #212133;
  -webkit-transition: width 0.210s linear;
  -moz-transition: width 0.210s linear;
  transition: width 0.210s linear;
}

@media screen and (max-width: 767.98px) {
  .courses__card-title {
    margin-bottom: 0.90rem;
    line-height: 1.30;
  }
}

.courses__card-text {
  margin: 0;
  margin-bottom: 5.05rem;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.60rem;
  font-weight: 400;
  line-height: 1.50;
  font-style: normal;
  color: #666;
  -webkit-transition: margin 0.210s linear, width 0.210s linear;
  -moz-transition: margin 0.210s linear, width 0.210s linear;
  transition: margin 0.210s linear, width 0.210s linear;
}

@media screen and (max-width: 991.98px) {
  .courses__card-text {
    margin-bottom: 3.15rem;
  }
}

@media screen and (max-width: 767.98px) {
  .courses__card-text {
    margin-bottom: 3.40rem;
  }
}

@media screen and (max-width: 575.98px) {
  .courses__card-text {
    margin-bottom: 8.10rem;
  }
}

@media screen and (max-width: 991.98px) {
  .courses__button {
    padding: 2.05rem 5.55rem;
  }
}

@media screen and (max-width: 767.98px) {
  .courses__button {
    padding: 2.05rem 4.90rem;
  }
}

@media screen and (max-width: 575.98px) {
  .courses__button {
    padding: 2.05rem 5.55rem;
  }
}

/* footer ---------------------------------------------------------*/

.footer {
  margin: 0;
}

.footer__top {
  margin-bottom: 0.30rem;
  padding: 2.80rem 0;
  background-color: #212133;
  -webkit-transition: margin 0.210s linear, padding 0.210s linear;
  -moz-transition: margin 0.210s linear, padding 0.210s linear;
  transition: margin 0.210s linear, padding 0.210s linear;
}
